*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
/* дозволило виставити кнопку праворуч   */
    justify-content: space-between; 
    align-items: center;
/*                           */
}

.page__wrapper {
    margin-top: 30px;
    display: flex;

}

.page { /*кнопки з номерами сторінок*/
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current { /*обрана кнопка*/
    border: 2px solid orange;
    font-weight: bold;

}


/*Для Navbar.jsx*/

header {
    background-color: #2C2C32;
    padding: 2rem 0;
    text-align: center;
    align-items: center;
    width: 100vw;
}
header > a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}
header > a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.container {
    max-width: 900px;
    padding: 2rem 0;
    margin: 0 auto;
}

/* //      //   */